#now-trending {
  text-align: center;
  padding: 50px 0 62px;

  .container {
    max-width: 1020px;
    padding: 0;

    h1 {
      margin-bottom: 30px;
    }

    #trending {
      margin-top: 40px;
      margin-bottom: 30px;
      grid-template-columns: repeat(4, 225px);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      flex-wrap: wrap;
      justify-content: center;

      .item {
        .title {
          font-weight: 600;
          font-size: 24px;
          margin-top: 10px;
        }
      }
    }

    #hashtags {
      .item {
        padding: 10px 20px;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid #000000;
        border-radius: 50px;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include responsive('1080px') {
  #now-trending {
    .container {
      #trending {
        grid-template-columns: repeat(3, 225px);
      }
    }
  }
}

@include responsive('900px') {
  #now-trending {
    .container {
      #hashtags {
        padding: 0 30px;
        flex-wrap: wrap;
        .item {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include responsive('820px') {
  #now-trending {
    .container {
      #trending {
        grid-template-columns: repeat(2, 225px);
      }
    }
  }
}
@include responsive('550px') {
  #now-trending {
    .container {
      #trending {
        grid-template-columns: repeat(2, calc(50% - 20px));
        grid-column-gap: 20px;
      }
    }
  }
}
